Repository eidp/actions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-action-list, generate-action-docs, generate-workflow-docs

generate-action-list:
  name: Update Action list
  entry: uv run ./scripts/generate-action-list.py
  language: system
  pass_filenames: false

generate-action-docs:
  name: Update Action docs
  entry: uv run ./scripts/generate-action-docs.py
  language: system
  pass_filenames: false

generate-workflow-docs:
  name: Update shared workflow docs
  entry: uv run scripts/generate-workflow-docs.py
  language: system
  pass_filenames: false

chore: add tests for update major tag action
  .github/actions/update-major-version-tag/README.md
  .github/actions/update-major-version-tag/action.yml
  .github/workflows/branch.yml
  .pre-commit-config.yaml
Due: generate-action-list, generate-action-docs, generate-workflow-docs

fix: action script syntax
  .github/actions/update-major-version-tag/action.yml
  .github/workflows/branch.yml
Due: generate-action-list, generate-action-docs, generate-workflow-docs

chore: improve action description
  .github/actions/update-major-version-tag/README.md
  .github/actions/update-major-version-tag/action.yml
Due: generate-action-list, generate-action-docs

chore: also run tests on main
  .github/workflows/test.yml
Due: generate-workflow-docs

chore: also document workflow outputs
  scripts/generate-workflow-docs.py
Due: none

chore: add common workflow
  .github/workflows/README.md
  .github/workflows/_common.yml
  .github/workflows/common.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  scripts/generate-workflow-list.py
Due: generate-workflow-docs

chore: remove reserved secret
  .github/workflows/README.md
  .github/workflows/_common.yml
  .github/workflows/common.yml
Due: generate-workflow-docs

fix: permissions
  .github/workflows/README.md
  .github/workflows/_common.yml
Due: generate-workflow-docs

chore: add chore category
  .github/workflows/common.yml
Due: generate-workflow-docs

chore: add release note template
  .github/release.yml
Due: none

fix: update major version tag action requires content: write permissions
  .github/actions/update-major-version-tag/README.md
  .github/actions/update-major-version-tag/action.yml
  .github/workflows/release.yml
Due: generate-action-list, generate-action-docs, generate-workflow-docs

chore: rename build pipeline
  .github/workflows/build.yml
Due: generate-workflow-docs

chore: move actions and workflows to better location
  .github/workflows/_common.yml
  .github/workflows/build.yml
  .github/workflows/common.yml
  .github/workflows/release.yml
  README.md
  scripts/generate-action-list.py
  scripts/generate-workflow-list.py
  update-major-version-tag/README.md
  update-major-version-tag/action.yml
  workflows/README.md
  workflows/common.yml
Due: generate-workflow-docs

chore: The action doc generator replaces the entire action readme
  scripts/generate-action-docs.py
  update-major-version-tag/README.md
Due: none

chore: add check workflow status action
  .github/workflows/build.yml
  check-workflow-status/README.md
  check-workflow-status/action.yml
Due: generate-workflow-docs

chore: add check workflow status action
  .github/workflows/build.yml
  .pre-commit-config.yaml
  check-workflow-status/README.md
  check-workflow-status/action.yml
  update-major-version-tag/README.md
  update-major-version-tag/action.yml
Due: generate-workflow-docs

chore: move workflows to .github/workflows
  .github/workflows/README.md
  .github/workflows/_common.yml
  .github/workflows/common.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  scripts/generate-workflow-list.py
  workflows/common.yml
Due: generate-workflow-docs

chore: fix generate action docs script
  README.md
  check-workflow-status/README.md
  scripts/generate-action-docs.py
  update-major-version-tag/README.md
  update-major-version-tag/action.yml
Due: none

chore: fix pre-commit hook steps
  .github/workflows/README.md
  .github/workflows/common.yml
  .pre-commit-config.yaml
Due: generate-workflow-docs

chore: improve description
  check-workflow-status/README.md
  check-workflow-status/action.yml
Due: none

chore: pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: fix generate actions doc script
  scripts/generate-action-docs.py
Due: none

fix: check workflow status was missing job
  .github/workflows/build.yml
Due: generate-workflow-docs

fix: check-workflow-status should not continue on error
  .github/workflows/build.yml
Due: generate-workflow-docs

fix: checkout code before running local action
  .github/workflows/build.yml
Due: generate-workflow-docs

chore: print http status code
  README.md
  check-workflow-status/action.yml
Due: none

fix: permissions
  .github/workflows/build.yml
Due: generate-workflow-docs

chore: log which jobs are found
  check-workflow-status/action.yml
Due: none

chore: retry finding jobs
  check-workflow-status/action.yml
Due: none

chore: generate runner tool cache and publish it to S3
  .github/workflows/tool-cache.yml
  README.md
Due: generate-workflow-docs

chore: only trigger the tool-cache job when the workflow file is changed
  .github/workflows/tool-cache.yml
Due: generate-workflow-docs

chore: use self-hosted GitHub Actions runners
  .github/workflows/README.md
  .github/workflows/_common.yml
  .github/workflows/common.yml
  .github/workflows/release.yml
Due: generate-workflow-docs

chore: reduce tool cache size
  .github/workflows/tool-cache.yml
Due: generate-workflow-docs

chore: only push to S3 from main or schedule
  .github/workflows/tool-cache.yml
Due: generate-workflow-docs

fix: generated links to shared workflows
  scripts/generate-workflow-list.py
Due: none

feat: reusable workflow for renovate
  .github/workflows/README.md
  .github/workflows/_renovate.yml
  .github/workflows/renovate.yml
  README.md
Due: generate-workflow-docs

chore: add node 22 to tool cache
  .github/workflows/tool-cache.yml
Due: generate-workflow-docs

fix: node 20 must be in the tool cache
  .github/workflows/tool-cache.yml
Due: generate-workflow-docs

fix: allow passing of github token
  .github/workflows/renovate.yml
Due: generate-workflow-docs

fix: also add HARBOR_ tokens
  .github/workflows/renovate.yml
Due: generate-workflow-docs

Path conditions:
  generate-action-list: any of: ^\.github/actions/.*/.*\.ya?ml$
  generate-action-docs: any of: ^\.github/actions/.*/.*\.ya?ml$
  generate-workflow-docs: any of: ^\.github/workflows/.*\.ya?ml$
